@import './base.css';

.delete-list-item {
  font-size: 9px;
}

#configCol .row {
  margin-bottom: 20px;
}

#wheelCol .row {
  margin-bottom: 10px;
}

canvas {
  display: block;
  margin: auto;
}

.roulette-item-list {
  position: relative;
}

.minuature-color {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}